<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Just Another Runner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F3FE2B45208FA8A400205E20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3FE2B5F208FA8A400205E20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3FE2B6A208FA8A400205E20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
